app = "crowley"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "5000"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[checks]
  [checks.http]
    type = "http"
    port = 5000
    interval = "30s"
    timeout = "5s"
    grace_period = "30s"
    method = "get"
    path = "/"

